<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="icon" href="/images/food.svg" type="image">
    <style>
        body{
            margin: 0;
            box-sizing: 0;
            display: flex;
            font-family: monospace;
        }
        .image-container{
            height: 100vh;
            width: 65vw;
            background-image: url(/images/signup-bg.webp);   
            background-size: cover;   
            background-position: 79%;  
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .restaurant-name{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .restaurant-name h1{
           
           font-size: 3.5vw;
           letter-spacing: 2px;
        }
        .qoute{
            background-color: black;
            color: white;
            font-size: 1.5vw;
            padding: 8px;
            border-radius: 20px;
        }
        .signup-box{
            height: 100vh;
            width: 35vw;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        
        }
        .signup-card{
           
            width: 25vw;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            flex-direction: column;
            padding: 40px 20px 40px 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 2px;
        }
        input{
            border: 0;
            border-bottom: 1px solid gray;
            outline: 0;
        }
        button{
            height: 4vh;
            background-color: #00aeff;
            border: none;
            color: whitesmoke;
            font-size: 17px;
        }
        .alert{
           
            background-color:rgb(252, 220, 224);
            padding: 2px;
            color: rgba(144, 25, 30);
            border-radius: 25px;
        }
        @media only screen and (max-width:500px) {
            body{
                margin: 0;
                padding: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 10px;
            }
            .image-container{
                background-image: none;
               width: 100vw;
            }
            .signup-box{
                box-shadow: rgba(0, 0, 0, 0.5) 0px 18px 50px -10px;
                width: 75vw;
            }
            .signup-card{
                width: 65vw;
            }
            .restaurant-name h1{
           text-align: center;
           font-size: 5.5vw;
           letter-spacing: 2px;
        }
        /* .restaurant-name{
            left: 0;
          
        } */
        .qoute{
            background-color: black;
            color: white;
            font-size: 2.5vw;
            padding: 8px;
            border-radius: 20px;
        }
        }
    </style>
</head>
<body>
    <div class="image-container">
          <div class="restaurant-name">
            <h1>THE <span style="color: green;">CHINESE</span> RESTAURANT</h1>
            <div class="qoute" >Have a sip, survive the work week</div>
          </div>
         
    </div>
    <div class="signup-box">
           <div class="signup-card">
            <div class="alert"><%=alert%></div>
              <h1>Create an account</h1>
              <form method="post"action="/SignupSubmit">
                    <input type="text" placeholder="Name" name="Fullname" required></span><br>
                   <input type="email" placeholder="E-Mail" name="Email" required><br>
                  <input type="password" placeholder="Password" name="Password" required><br>
                <button type="submit">Create Account</button>
                <h4>Already have an account?<a href="/login">login</a></h4>
              </form>
           </div>
    </div>
    
</body>
</html>